.home-background {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.home-color {
  height: 50vh;
  width: 100%;
  background: #6998AB;
}

.nav_menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  .el-menu {
    background: #00000000;
    border: #00000000;
  }
}

.title {
  color: white
}